body {
    font-family: 'Nunito', sans-serif;
    background-color: #DCECEE;
}

.title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 4vw;
    background-color: #017880;
    width: 80vw;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    color: #F5F5F5;
    border: 5px dashed black;
}

.container {
    font-style: Bold 700;
    width: 80vw;
    color: #FF5A5F; 
    font-size: 7vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(-5px 5px 0px #017880);
}